<!DOCTYPE html>
<html>
  <%- include layout/head %>
  <body class="body">
    <h1 class="h1">WELCOME</h1>
    <p>Welcome to Express</p>
    <a href="/teachers" class="a">Ke Halaman Teachers</a>
    <a href="/subjects" class="a">Ke Halaman Subjects</a>
    <a href="/subjects" class="a">Ke Halaman Students</a>
  </body>
</html>
